html {
    font-size: 14px;
}

html body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#333;
    #10051c
}

.banner h3 {
    margin: 0;
    width: 250px;
    display: block;
    position: relative;
    top: 7em;
    color:#cb2bde;
    font-family: "lato";
    display: none;
}

.banner h1 {
    margin: 0 auto;
    width: 65%;
    position: relative;
    top: 1.1em;
    font-size: 11em;
    color: white;
    text-align: center;
    line-height: 1;
    font-family: "lato";
}

.banner h5 {
    width: 360px;
    margin: 0 auto;
    position: relative;
    top: 11em;
    color: white;
    font-family: "lat", sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.2px
}
p {
    font-family: "", sans-serif;
    font-size: 1em;
    text-align: left;
    line-height: 1.7em;
    word-spacing: 0.1em;
    letter-spacing:0.022em;
    color: #474747;
}

h4 {
    font-family: "lato", sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    color: #474747;
        
}

.title {
    font-family: "lato";
    font-weight: 900;
    font-size: 2em;
    width: 5.6em;
    color:#7d8690;
    margin: 0.7em auto;
}
.title2 {
    font-family: "lato";
    font-weight: 900;
    font-size: 2em;
    width: 8.6em;
    color: #7d8690;
    margin: auto;
    position: relative;
    top: 1em;
}

#link {
    font-family: sans-serif;
    text-decoration: none;
    color:darkgray;
    
}
#link:hover {
    color: #73b5ff;
    border-bottom: solid 1.2px darkgray;
}

.banner #cover {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: -430px;
   
}

.banner {
    height: auto;
    width: 100%;
}

.banner-inner {
    max-width:100%;
    margin: 0 auto;

}

/*----INTRODUCTION----*/

.upper-mid {
    height: 300px;
    position: relative;
    width: 100%;
    margin: 0 0 70px 0;
    background-color: white;
}

.upper-mid strong {
    font-size: 2em;
    font-weight: 900;
    font-family: "lato";
    margin: auto;
    position:relative;
    text-align: center;
    width: 55%;
    display: block;
    color: darkslategrey;
    top: 1.4em;
    word-spacing: 10px;
    color: #7d8690;
}


.upper-mid #intro {
    font-family: "", sans-serif;
    font-size: 1em;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    top: 5em;
    position: relative;
    line-height: 1.7em;
    word-spacing: 0.1em;
    letter-spacing:0.022em;
}

.upper-mid #btn {
    text-decoration: none;
    font-size: 1em;
    display:block;
    position: relative;
    text-align: center;
    width: 55px;
    top: 40%;
    margin: auto;
    font-family: sans-serif;
    padding: 18px 30px;
    text-transform: uppercase;
    color: darkgray;
    border-radius: 2em;
    border: 1px solid darkgray;
    -webkit-transition: width .35s ease-in-out; 
    transition: width .35s ease-in-out;
    
}

.upper-mid #btn:hover, #btn:focus {
    background-color:#73b5ff;
    color: whitesmoke;
    border-radius: 3em 3em;
    border: 1px solid #73b5ff;
    font-size: 1em;
    
}

/*---WHAT I OFFER / SERVICES---*/


.container {
    width: 100%;
    height: 450px;
    padding-left: 0%;
    background-color: #f5f8fb;
    border-radius: em
}

.container .one-fourth {
    width:32%;
    height: auto;
    margin: 3% 0% 0 9%;
    display: inline-block;
    padding: 5px 0px;
}

.one-fourth p {
    width: 120%;
}
.one-fourth .web-design {
    float: left;
    display:block;
    width: 100px;
    height: 110px;
    position: relative;
    top: px;
    right: 10px;
    margin: 3%;
    padding-right: 3em;
}


.one-fourth .logo-design {
    float: left;
    display:block;
    width: 120px;
    height: 110px;
    position: relative;
    top: px;
    right: -10px;
    margin: 3%;
    padding-right: 3em;
}



.one-fourth .print-design {
    float: left;
    display:block;
    width: 100px;
    height: 110px;
    position: relative;
    top: px;
    right: 10px;
    margin: 3%;
    padding-right: 3em;
}



.one-fourth .brand-id {
    float: left;
    display:block;
    width: 120px;
    height: 110px;
    position: relative;
    top: px;
    right: -10px;
    margin: 3%;
    padding-right: 3em;
}

/*-------FEATURED WORK / GALLERY-------*/

.title2 {
    margin-top: 3.5%
}

.gallery {
    width: 80%;
    height: auto;
    margin: 50px auto;
    border-radius: 2em;
    background-color: #f5f8fb;
    padding-top: 60px;
   
}

.gallery #box {
    width: 50%;
    margin: %;
    height: 500px;
    float: left;
    display:block;
    background: url(fashionmag.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2em
   
        
}

/*#box:hover {
    background-size:cover;
    height: 500px;
    overflow: visible;
  
}*/

.gallery #box2 {
    width: 50%;
    margin:%;
    height: 500px;
    float: lft;
    display: inline-block;
     background-image: url(Images/FRONT%20COVER-Recovered.png);
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    
}

#box2:hover {
    background-color: white;
    border-radius: 2em;
}

.gallery #box3 {
    width: 48%;
    margin:1%;
    height: 500px;
    display: inline-block;
     background-image: url(Images/DJCLOGO-1.5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-colr: white;
}


.gallery #box4 {
    width: 49%;
    margin: %;
    height: 500px;
    display: inline-block;
    float: righ;
    background-image:url(Images/Mr%20J%20PNG%20LOGO.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-coor: white;
}

/**-----MID SECTION END-----**/



#contact-img {
    width: 100%;
    height: 720px;
    background-image: url(Images/contact-img.png);
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}

#contact-img h2{
    margin: 0 auto;
    color: #fff;
    font-size: 5em;
    font-weight:800;
    width:7em;
    font-family: "lato";
    top: 4em;
    position: relative;
}

#contact-img h5{
    margin: 0 auto;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    width:18em;
    font-family: sans-serif;
    top: 14em;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    padding: 15px 0;
}


#btn2 {
    text-decoration: none;
    font-size: 1em;
    display:block;
    position: relative;
    text-align: center;
    width: 7em;
    top: 23em;
    margin: 0 auto;
    font-family: "Lato";
    color: white;
    padding: 20px 35px;
    text-transform: uppercase;
    border: solid 2px #ccc;
    -webkit-transition: color 0.3 ease-out, background color 0.3 ease-out;
    
}

#btn2:hover, #button3:focus {
    background-color:#73b5ff;
    border-radius: 3em 3em;
    border-color: #73b5ff;
}

#footer {
    height: 50px;
    background-color:#353535;
    clear: both;
    color: white;
    font-family: "lato";
}

/*-------RESPONSIVE: IPAD---------*/

@media only screen and (max-width: 1080px) and (min-width: 750px) {
    .banner h1 {
        font-size: 9em;
        padding-bottom: 0.4em;
     }
    .banner h5 {
        top: 68%;
        position: absolute;
        left: 34%
    }
    nav ul {
        width: 35em;
    }
    #logo {
        margin: 12px 
    }
    .upper-mid strong {
        width: 18em;
        font-siz: 1.3em
    }
    .upper-mid #intro {
        width: 39em;
    }
    .container {
        height: 780px;
    }
    .container .one-fourth {
        width: 100%;
        margin: 1% 0 0 0%;
        border-bottom: solid 1px darkgray;    
    }
    .one-fourth p {
        width: 90%
    }
    .one-fourth .web-design {
        top: 0px;
        left: 0px;
    }
    .one-fourth .logo-design {
        top: 0px;
        left: 0px;
    }
    .one-fourth .print-design {
        top: 0px;
        left: 0px;
    }
    .one-fourth .brand-id {
        top: 0px;
        left: 0px;
    }
    .gallery {
        width: 80%;
        heigh: 250px;
        margin-top: 5em
    }
    #contact-img {
        clear: both;
    }
}
    
/*-------RESPONSIVE: MOBILE----------*/


@media only screen and (max-width: 600px) and (min-width: 320px) {
    
    nav #menu-icon {
        visibility: visible;
        float: right;
        display: inline-block;
        margin: 14px;
    }
    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background-color: #222;
        right: 20px;
        top: 60px;
        border: 1px solid white;
        border-radius: 10px 1px 10px 10px;
        width: 20%;
        text-align: center;
        padding: 0 20px 10px 20px;
    }
    nav:hover ul {
        display: block;
        border-bottom: none;
    }
    nav li {
        width: 100%;
    }
    #logo {
        margin: 10px;    
    }
    .banner #cover {
        bottom: -15em;
        position: relative;
        margin-bottom: 200px
    }
    .banner h3 {
        display: none;
    }
    .banner h1 {
        font-size: 4em;
        top: 2.5em;
        right: 1.2em;
        z-index:1;
    }
    .upper-mid {
        height: 250px
    }
    .upper-mid strong {
        ont-size: 1em;
        width: 19em;
    }
    .upper-mid #intro {
        width: 35em;
        top: 4.5em;
    }
    .upper-mid #btn {
        top: 5.5em
    }
    .container {
        border-radius: 15px;
        height: 670px;
        width: 95%;
        margin: auto;
    }
    .container .one-fourth {
        width: 90%;
        right: 12px;
        position: relative;
        border-bottom: solid 1px darkgray;
    }
    .one-fourth p {
        ont-size: 0.9em;
        display: non;
        width: 33em
    }
    .one-fourth #link {
        top:60px;
        position: relativ
    }
    .one-fourth .web-design {
        left: -30px;
        top: 5px;
        padding-right: 0;
    }
    .one-fourth .logo-design {
        left: -30px;
        top: 5px;
        width: 100px;
        padding-right: 0;
    }
    .one-fourth .print-design {
        left: -30px;
        top: 5px;
        padding-right: 0;
    }
    .one-fourth .brand-id {
        left: -30px;
        top: 5px;
        width: 100px;
        padding-right: 0;
    }
    .gallery {
        height: 2000px;
        width: 90%;
    }
    .gallery #box, .gallery #box2, .gallery #box3, .gallery #box4 {
        width: 98%;
    }
    #contact-img h2 {
        font-size: 4em;
       top: 3em;
        position: relative;
    }
    #contact-img h5 {
        top: 9em;
        position: relative;
    }
    #contact-img #btn2 {
        top: 16em;
        position: relative;
    }
    #contact-img {
        height: 500px
    }
